* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 800px;
  margin: 0 auto;
}

.teaser,
.column {
  font-size: 2rem;
  text-align: center;
  line-height: 3;
  background: #ebeff2;
  border-radius: 10px;
  margin: 10px 5px;
}

.feature img {
  width: 100%;
  height: auto;
}

.grid {
  display: flex;
}

.column {
  flex: 1;
}

.loading {
  text-align: center;
  padding: 50px;
}